.centered-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

body {
  background-color: white;
}

.bottom-divider {
  border-style: none none solid none;
}

.fascinating-words {
  font-family: fantasy;
}

.spaced-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}
